{"installed":{"client_id":"1234425435-12326829iashfih3qi0o8ps27ntqekrm.apps.googleusercontent.com","project_id":"project-19832","auth_uri":"https://accounts.google.com/o/oauth2/auth","token_uri":"https://oauth2.googleapis.com/token","auth_provider_x509_cert_url":"https://www.googleapis.com/oauth2/v1/certs","client_secret":"owjfowqjfohADFK","redirect_uris":["urn:ietf:wg:oauth:2.0:oob","http://localhost"]}}
